@model WebMvc.Models.EventItem

    <form asp-controller="Cart" asp-action="AddToCart">
        <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />
        @if (Model.Price > 0)
        {
            <input class="esh-catalog-button" type="submit" value="Buy Tickets" />
        }
        else
        {
            <input class="esh-catalog-button" type="submit" value="Register" />
        } 
      
        <div class="esh-catalog-items">
            
        </div>
        @*   <div style="text-align: justify" >
            <i>@Model.Description</i>
        </div> *@
        <div class="esh-catalog-items">
            <span>@Model.Location</span>
        </div>
        <div class="esh-catalog-items">
            <span>@Model.DateAndTime</span>
        </div>
        @if (Model.Price > 0)
        {
            <div class="esh-catalog-name">
                <h3><b>$@Model.Price.ToString("N2")</b></h3>
            </div>
        }
        else
        {
            <div class="esh-catalog-name">
                <h3><b>FREE EVENT</b></h3>
            </div>
        }

        <input type="hidden" asp-for="@Model.EventType" name="type" />
        <input type="hidden" asp-for="@Model.EventTypeId" name="typeId" />
        <input type="hidden" asp-for="@Model.EventCategory" name="type" />
        <input type="hidden" asp-for="@Model.EventCategoryId" name="typeId" />
        <input type="hidden" asp-for="@Model.EventSubCategory" name="type" />
        <input type="hidden" asp-for="@Model.EventSubCategoryId" name="typeId" />
        <input type="hidden" asp-for="@Model.Location" name="type" />
        <input type="hidden" asp-for="@Model.LocationId" name="typeId" />
        <input type="hidden" asp-for="@Model.DateAndTime" name="type" />
        <input type="hidden" asp-for="@Model.DateAndTimeId" name="typeId" />
        <input type="hidden" asp-for="@Model.Description" name="description" />
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Title" name="name" />
        <input type="hidden" asp-for="@Model.PictureUrl" name="pictureUrl" />
        <input type="hidden" asp-for="@Model.Price" name="price" />

     </form>