@model WebMvc.Models.EventItem

    <form asp-controller="Cart" asp-action="AddToCart">

        <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />

        @if (Model.Price > 0)
        {
            <input class="esh-catalog-button" type="submit" value="Buy Tickets" />
        }
        else
        {
            <input class="esh-catalog-button" type="submit" value="Register" />
        }


        <div class="esh-catalog-item-data">
            @Model.Title

        </div>

        <div class="esh-catalog-item-desc">
             @Model.Description
        </div> 

   @*   <div class=".esh-catalog-name">
            <a href="#" class="openPopup" data-toggle="modal" data-target="#myModal" data-id=@Model.Description>@Model.Title</a>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h6 class="modal-title">Event Description</h6>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#myModal').on('show.bs.modal', function (event) {
                var description = $(event.relatedTarget).data('id');

                $("#modalText").html(data);
            });
        </script>   

         <script>
                $(function () {
                    $('.openPopup').on('click', function () {
                        $('.modal-body').load(@Model.Description, function () {
                    $('#myModal').modal({ show: true });
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('.openPopup').on('click', function () {
                    var dataURL = $(this).attr('data-href');
                    $('.modal-body').load(dataURL, function () {
                        $('#myModal').modal({ show: true });
                    });
                });
            });
        </script>   *@

        <div class="esh-catalog-item-data">
            @Model.Location
        </div>

        <div class="esh-catalog-item-data">
            @Model.StartDateTime
        </div>

        <div class="esh-catalog-item-data">
            Contact: @Model.Contact
        </div>

        @if (Model.Price > 0)
        {
            <div class="esh-catalog-name" style="margin-top: 0.5rem">
                <h4><b>$@Model.Price.ToString("N2")</b></h4>
            </div>
        }
        else
        {
            <div class="esh-catalog-name" style="margin-top: 0.5rem">
                <h4><b>FREE EVENT</b></h4>
            </div>
        }

        <input type="hidden" asp-for="@Model.EventType" name="type" />
        <input type="hidden" asp-for="@Model.EventTypeId" name="typeId" />
        <input type="hidden" asp-for="@Model.EventCategory" name="category" />
        <input type="hidden" asp-for="@Model.EventCategoryId" name="categoryId" />
        <input type="hidden" asp-for="@Model.EventSubCategory" name="subCategory" />
        <input type="hidden" asp-for="@Model.EventSubCategoryId" name="subCategoryId" />
        <input type="hidden" asp-for="@Model.Location" name="location" />
        <input type="hidden" asp-for="@Model.LocationId" name="locationId" />
        <input type="hidden" asp-for="@Model.StartDateTime" name="startDateTime" />
        <input type="hidden" asp-for="@Model.EndDateTime" name="endDateTime" />
        <input type="hidden" asp-for="@Model.DateAndTimeId" name="datetimeId" />
        <input type="hidden" asp-for="@Model.Description" name="description" />
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Title" name="title" />
        <input type="hidden" asp-for="@Model.PictureUrl" name="pictureUrl" />
        <input type="hidden" asp-for="@Model.Price" name="price" />
        <input type="hidden" asp-for="@Model.Contact" name="contact" />


    </form>